@import "tailwindcss";

@theme {
  --color-t-gray-500: #737994;
  --color-t-blue-500: #8CAAEE;
  --color-t-blue-900: #303446;
}

/* {
  width: {
    120: '30rem',
    125: '31.25rem',
  },
  height: {
    125: '31.25rem',
  },
}, */